+b.SECTION.about
  .container-main
    +b.UL.breadcrumbs
      +e.LI.item
        +e.A.link(href ='/') Главная
      +e.LI.item
        +e.A.link(href ='#') О Компании
    +e.H2.title О Компании
    p Мы рады приветствовать Вас на нашем сайте ЗАО «Медтехника» Пенза. В каталоге товаров Вы сможете найти и купить тонометры, ингаляторы, медицинскую мебель, инструменты и многое другое. В выборе товара Вам всегда помогут специалисты широкого профиля.
    +e.banner
      img(src="images/medical-about.png")
    +e.desc ЗАО «Медтехника» осуществляет свою деятельность с 1965 года. В течение четырех десятилетий мы обеспечиваем бесперебойное функционирование и обновление парка медицинской техники в лечебно-профилактических учреждениях города и области.
    p В настоящее время ЗАО «Медтехника» представляет собой современное предприятие, обеспечивающее лечебно-профилактические учреждения медицинской техникой, расходными материалами, предоставляющее полный спектр услуг, обеспечивающих бесперебойную и безопасную эксплуатацию медицинской техники.
    p Поддерживает деловые связи со всеми производителями медицинского оборудования.
    p Высококвалифицированные специалисты, технологическое и инструментальное оснащение производства, развитая инфраструктура – все это позволяет выполнять работы на высоком техническом уровне. ЗАО «Медтехника» оказывает услуги населению г. Пензы и Пензенской области, участвует в национальном проекте «Здоровье» и программах модернизации здравоохранения.