section.banner
  .swiper-container
    .swiper-wrapper
      img.swiper-slide(src='images/banner.png', alt='')
      img.swiper-slide(src='images/banner.png', alt='')
      img.swiper-slide(src='images/banner.png', alt='')
    .swiper-pagination.swiper-custom