.container-main
  +b.SECTION.basket-head
    +b.UL.breadcrumbs
      +e.LI.item
        +e.A.link(href ='#') Главная
      +e.LI.item
        +e.A.link(href ='#') Каталог
      +e.LI.item
        +e.A.link(href ='#') Моя корзина
    +e.H2.title Моя корзина
  section.basket-buy
    +b.order-info
      +e.header
        +e.cell._title._number №
        +e.cell._title._name наименование товара
        +e.cell._title._count количество
        +e.cell._title._price стоимость
        +e.cell._title._delete удалить
      +order-row
      +order-row
    +b.do-order
      +e.back
        +e.del-all(href ='#') Удалить все
        a.btn.btn_size-small.btn_blue.btn_loc.btn_arrow(href ='#') вернуться в каталог
      +e.register
        +e.total итого к оплате:
          +e.SPAN.price 8 000 руб.
        +e.P.desc Стоимость доставки не входит в стоимость товаров, уточните у менеджеров детали заказа.
        +e.btns
          .btn.btn_size-small.btn_red войти и заказать
          .btn.btn_size-small.btn_red зарегистрироваться и заказать