.container-main
  +b.SECTION.basket-main
    +b.UL.breadcrumbs
      +e.LI.item
        +e.A.link(href ='#') Главная
      +e.LI.item
        +e.A.link(href ='#') Каталог
      +e.LI.item
        +e.A.link(href ='#') Моя корзина
    +e.H2.title Моя корзина