+b.SECTION.catalog-main
  .container-main
    +b.UL.breadcrumbs
      +e.LI.item
        +e.A.link(href ='#') Главная
      +e.LI.item
        +e.A.link(href ='#') Каталог
    +e.H1.title Каталог
    .wrap-catalog
      +b.ASIDE.catalog-aside
        +e.UL.list
          for item in CatalogList
            each element in item.itemCatalog
              +e.LI.item
                +e.A.link(href ='#')= element
                   span >
                +b.UL.catalog-aside-hide.js-catalog-aside-hide
                  each elementhide in item.itemCatalogHide
                    +e.LI.item
                      +e.A.link(href ='#')= elementhide
                        +e.SPAN.count (1)
      +b.wrap-catalog-main
        +e.container
          .row
            for name in hits
              +e.item
                  +item(name)