+b.SECTION.contacts
  .container-main
    +b.UL.breadcrumbs
      +e.LI.item
        +e.A.link(href ='#') Главная
      +e.LI.item
        +e.A.link(href ='#') Контакты
    +e.H2.title Контакты
    p Мы рады приветствовать Вас на нашем сайте ЗАО «Медтехника» Пенза. В каталоге товаров Вы сможете найти и купить тонометры, ингаляторы, медицинскую мебель, инструменты и многое другое. В выборе товара Вам всегда помогут специалисты широкого профиля.
    +e.wrap
      +e.location
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2389.8764562886236!2d44.97772712509515!3d53.202131836794656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414101af33c1ccd7%3A0xcd49422c09e33051!2z0JzQtdC00YLQtdGF0L3QuNC60LA!5e0!3m2!1sru!2sua!4v1522053393091', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
        +e.info._bgsea
          +e.UL.item
            +e.LI.title-con наш адрес
            +e.LI.address Россия, 440018, г. Пенза, ул. Средняя, 9
          +e.UL.item
            +e.LI.title-con режим работы
            +e.LI.day пн - пт
              +e.SPAN.time 08:30 - 18:00
            +e.LI.day сб
              +e.SPAN.time 08:30 - 16:00
            +e.LI.day вс
              +e.SPAN.time Выходной ден
        +e.info._bgcream
          +e.UL.item
            +e.LI.title-con._laser Как до нас добраться
            +e.LI.car Автобусы:
              +e.SPAN.number  18, 33, 54, 82с, 99
            +e.LI.car Троллейбусы:
              +e.SPAN.number  1, 6, 4, 7
            +e.LI.car Маршрутные такси:
              +e.SPAN.number  1т, 2а, 4, 6, 33, 63, 86
          +e.UL.item
            +e.LI.title-con
              +svg-icon('car')
            +e.LI.car Если Вы на автомобиле, то въезд на территорию ЗАО «Медтехника» с ул. Пушкина (рядом с остановкой «Детская больница»).
      +b.ASIDE.contact-phone
        +e.UL.item
          +e.LI.title-con контактные телефоны
          - for(var i = 0; i < 7; i++)
            +e.LI.list
              +e.function Генеральный директор (приемная)
              +e.person Наумкин Валерий Викторович
              +e.link(href= "#") +7 (8412) 68-29-51
                +e.SPAN.mail medteh58@yandex.ru
