header.main-header
  .header-top
    .container-main
      +b.menu-icon.js-menu-icon
        +e.line
        +e.line
        +e.line
      +b.UL.menu-header
        each element in ["О компании", "Услуги", "Лицензии", "Доставка", "Контакты", "Прокат"]
          +e.LI.item
            +e.A.link(href='#')=element
      .menu-header-close.js-menu-header-close
      form.form.form-search(action='', method='post')
        input.form-search__header(type='text', placeholder='Поиск по сайту')
        button.form-search__button(type='submit')
          svg(width='15', height='15')
            use(xlink:href='#search')
      .wrap-signin-basket
        +b.A.signin(href='#')
          svg(width='10', height='11')
            use(xlink:href='#login' fill='#49b2e2')
          +e.SPAN.cont Вход
        +b.A.basket(href='#')
          svg(width='22', height='22')
            use(xlink:href='#basket')
          +e.SPAN.cont Моя корзина
          +e.SPAN.counter 0
  .header-bottom
    .container-main
      a.logo(href='')
        img(src='images/logo.png', alt='')
      +b.UL.address
        for name in address
          +e.LI.item
            +e.A.link(href='')=name.location
          +e.LI.item
            +e.A.link(href='')=name.timeWork
          +e.LI.item
            +e.A.link(href='')=name.howLocation
      +b.UL.phone
        for name in phone
          +e.LI.item
            +e.A.link(href= name.phoneAttr)= name.phone
            +e.SPAN.desc= name.desc
      +b.UL.hire
        +e.LI.item Мы осуществляем прокат изделий:
        +e.LI.item
          +e.A.link.hire__libra(href='') Весы для новорожденных (...)
            img(src='images/libra.png', alt='')
          +e.A.link.hire__btn(href='') в прокат »
