header.main-header
  .header-top
    .container-main
      +b.menu-icon.js-menu-icon
        +e.line
        +e.line
        +e.line
      +b.UL.menu-header
        each element in navMenu
          +e.LI.item
            +e.A.link(href= element.link)=element.page
      .menu-header-close.js-menu-header-close
      form.form.form-search(action='', method='post')
        input.form-search__header(type='text', placeholder='Поиск по сайту')
        button.form-search__button(type='submit')
          +svg-icon('search')
      .wrap-signin-basket
        .A.btn.btn_cblack.btn_size-small-top.btn_white(href='#')
          +svg-icon('login')
          span.cont Вход
        .A.btn.btn_size-small-top.btn_red.btn_align-centr(href='basket.html')
          +svg-icon('basket')
          span.cont-in-basket Моя корзина
          span.counter-in-basket 0
  .header-bottom
    .container-main
      a.logo(href='index.html')
        img(src='images/logo.png', alt='')
      +b.UL.address
        for name in address
          +e.LI.item
            +e.A.link(href='')=name.location
          +e.LI.item
            +e.A.link(href='')=name.timeWork
          +e.LI.item
            +e.A.link(href='')=name.howLocation
      +b.UL.phone
        for name in phone
          +e.LI.item
            +e.A.link(href= name.phoneAttr)= name.phone
            +e.SPAN.desc= name.desc
      +b.UL.hire
        +e.LI.item Мы осуществляем прокат изделий:
        +e.LI.item
          +e.A.link.hire__libra(href='') Весы для новорожденных (...)
            img(src='images/libra.png', alt='')
          a.btn.btn_size-small.btn_red(href='') в прокат »
