main.primary-main
  .container-main
    .container
      .masthead ассортимент нашей продукции
      .content.assortment
        mixin assortment(item)
          .assortment__item
            +b.catalog
              +e.img
                img(src= item.assortImg, alt='')
              +e.list__wrap
                +e.A.title(href='')= item.assortTitle
                each link in item.item1
                  +e.LI.item
                    +e.A.link(href='#')= link
        for item in assortmentItem
          +assortment(item)
    .container
      .content.assortment
        for item in assortmentItem
          +assortment(item)
    +b.btn
      +e.A.catalog(href='') перейти в полный каталог продукции
      +e.desc Еще 9 категорий медицинских товаров.
  +b.SECTION.offer
    .container-main
      .container
        +e.masthead Интересные предложения:
        +e.UL.hits
          each element in ["Все новинки ", "Все хиты продаж", "Лучшая цена"]
            +e.LI.item
              +e.A.link(href="#")= element
        for name in hits
          +e.hits__item
            +e.wrap
              +e.img
                img(src= name.img, alt='')
              +e.A.category(href="#")= name.category
              +e.A.title(href="#")= name.title
              +e.desc= name.desc
            +e.wrap-bottom
              +e.price= name.price
                +e.SPAN.oldprice= name.oldPrice
              +e.A.btn(href="#") купить »