.primary-main
  .container-main
    .masthead ассортимент нашей продукции
    .assortment
      .l-wrap
        for item in assortmentItem
          .wrap-grid-item
            .grid-item
              +assortment(item)
    +b.btn
      +e.A.catalog(href='catalog.html') перейти в полный каталог продукции
      +e.desc Еще 9 категорий медицинских товаров.