.primary-main
  .container-main
    .container
      .masthead ассортимент нашей продукции
      .content.assortment
        for item in assortmentItem
          +assortment(item)
    .container
      .content.assortment
        for item in assortmentItem
          +assortment(item)
    +b.btn
      +e.A.catalog(href='catalog.html') перейти в полный каталог продукции
      +e.desc Еще 9 категорий медицинских товаров.