.primary-main
  .container-main
    .masthead ассортимент нашей продукции
    +b.assortment
      +e.container
        .row
          for item in assortmentItem
            +e.item
              +assortment(item)
    +b.wrap-btn
      a.btn.btn_size-large.btn_blue(href='catalog.html') перейти в полный каталог продукции
      +e.desc Еще 9 категорий медицинских товаров.