.container-main
  +b.FORM.form-test(action="" method="post")
    +e.wrap
      +e.LABEL.label-test
        +e.INPUT.checkbox-test(type='checkbox', name='subscribe', value='Запомнить')
        +e.text-check Запомнить
    +e.wrap
      +e.LABEL.label-test
        +e.INPUT.checkbox-test(type='checkbox', name='subscribe', value='Запомнить')
        +e.text-check Запомнить

    +e.wrap
      +e.LABEL.label-test
        +e.INPUT#radio.radio-test(type='radio', name='radio')
        +e.text Radio
    +e.wrap
      +e.LABEL.label-test
        +e.INPUT#radio2.radio-test(type='radio', name='radio')
        +e.text Radio
    +e.wrap
      +e.LABEL.label-test
        +e.INPUT#radio3.radio-test(type='radio', name='radio')
        +e.text Radio
  +b.UL.list-test
    +e.LI.item asdfghjk
    +e.LI.item asdfghjk
    +e.LI.item asdfghjk
    +e.LI.item asdfghjk
    +e.LI.item asdfghjk
    +e.LI.item asdfghjk
