.basket-head {
  &__title {
    margin-top: 30px;
  }
}

.basket-buy {
  margin-top: 20px;
}

.breadcrumbs {
  margin-top: 30px;
}

.order-info {
  border: 1px solid #a4d4ec;

  &__header {
    display: none;
    justify-content: space-between;
    background: $lochmara-color;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }

  &__cell {
    padding: 20px;
    box-sizing: border-box;

    &_title {
      font: bold 1.2rem/20px $primary-font;
      color: $white-color;
      text-transform: uppercase;
    }

    &_number {
      width: 10%;
      display: none;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #a4d4ec;

      @media (min-width: $screen-md) {
        display: flex;
      }
    }

    &_name {
      width: 100%;
      display: flex;
      flex-direction: column;

      @media (min-width: $screen-md) {
        flex-direction: row;
        width: 40%;
      }
    }

    &_count {
      width: 20%;
    }

    &_price {
      width: 100%;

      @media (min-width: $screen-md) {
        width: 20%;
      }
    }

    &_delete {
      width: 10%;
      padding: 20px 20px 20px 0;
    }

    &_desc {
      font: bold 1.6rem/22px $primary-font;
      color: $lochmara-color;
    }
  }

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid #a4d4ec;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }
  }

  &__img {
    padding: 5px;
    border: 1px solid #e3e3e3;
    margin-right: 15px;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__price {
    font: 1.8rem/20px $primary-font;
    color: $black-color;
  }

  &__count {
    font: 1.2rem/24px $primary-font;
    color: $black-color;
  }

  &__delete {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 46px;
    height: 46px;
    border-radius: 3px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black-color;

    @media (min-width: $screen-md) {
      position: static;
    }
  }
}

.wrap-count {
  display: flex;
  justify-content: center;
  width: 140px;
  height: 39px;
  font: bold 1.4rem/20px $primary-font;

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;

    &_mines {
      width: 40%;
      background: $lochmara-color;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: $white-color;
      cursor: pointer;
    }

    &_number {
      width: 60%;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      color: $black-color;
    }

    &_plus {
      width: 40%;
      background: $lochmara-color;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: $white-color;
      cursor: pointer;
    }
  }
}

.do-order {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  &__back {
    display: flex;
    flex-direction: column;
    max-width: 790px;
  }

  &__del-all {
    font: bold 1.4rem/24px $primary-font;
    color: $lochmara-color;

    &::before {
      content: "\2715";
      margin-right: 10px;
      font-weight: normal;
    }
  }

  &__register {
    max-width: 500px;
    margin-top: 20px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  &__total {
    font: bold 1.2rem/20px $primary-font;
    color: $dusty-gray-color;
    text-transform: uppercase;
  }

  &__price {
    margin-left: 20px;
    font: bold 2.4rem/24px $primary-font;
    color: $black-color;
  }

  &__desc {
    font: bold 1.4rem/20px $primary-font;
    color: $dusty-gray-color;
    margin-top: 30px;
  }

  &__btns {
    margin-top: 40px;
    display: flex;

    .btn {
      text-align: center;
    }

    .btn:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.register-i-order {
  padding: 50px 15px 20px 15px;
  background: $concrete;
  margin-top: 30px;

  @media (min-width: $screen-sm) {
    padding: 50px 40px 20px 40px;
  }
}


.wrap-input{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  &__label {
    font: bold 1.6rem/50px $primary-font;
    color: $black-color;
  }

  &__wrap-select {
    position: relative;
    display: block;
    width: 100%;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;

    &::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background: $lochmara-color;
      color: $white-color;
      width: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }



  &__select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: $white-color;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px 25px;
    color: $black-color;
    cursor: pointer;
    font: 1.6rem/18px $primary-font;

  }

  &__column {
    width: 100%;
    //max-width: 590px;
    @media (min-width: $screen-md) {
      width: 48%;
    }
  }

  &__select:not(:nth-child(2)) {
    margin-right: 20px;
  }
}

.label {
  display: block;
  font: bold 1.6rem/18px $primary-font;
  color: $black-color;
  margin: 25px 0 18px;

  &__input {
    display: block;
    margin-top: 25px;
    font: bold 1.6rem/50px $primary-font;
    color: $black-color;
    padding: 0 20px;
    border: 1px solid #e3e3e3;
    width: 100%;
    box-sizing: border-box;
  }

  &__star {
    color: $carnation-color;
    margin-left: 8px;
  }

  &__desc {
    font: 1.4rem/18px $primary-font;
    color: $dusty-gray-color;
  }

}

.form-subtitle {
  font: 1.2rem/18px $primary-font;
  color: $dusty-gray-color;
  text-transform: uppercase;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #dadada;
}

.input-address {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .label {
    width: 180px;
    margin: 25px 0 0 0;
  }
}