.btn {
  color: $white-color;
  cursor: pointer;
  border: none;
  box-shadow: none;

  &:hover {
    opacity: .5;
  }

  &_size-small-top {
    font: bold 1.4rem/50px $primary-font;
    padding: 0 25px;
  }

  &_size-small {
    font: bold 1.2rem/35px $primary-font;
    border-radius: 3px;
    padding: 0 19px;
    text-transform: uppercase;
  }

  &_size-medium {
    font: bold 1.6rem/70px $primary-font;
    padding: 0 40px;
    text-transform: uppercase;
  }

  &_size-large {
    font: bold 1.2rem/40px $primary-font;
    padding: 0 60px;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      font: bold 1.6rem/70px $primary-font;
    }
  }

  &_cblack {
    color: $black-color;
  }

  &_red {
    background: $carnation-color;
  }

  &_white {
    background: $white-color;
  }

  &_blue {
    background: $lochmara-color;
  }

  &_loc {
    margin-top: 35px;
  }
  &_loc-large {
    margin-top: 90px;
  }

  &_arrow {
    width: 225px;

    &::before {
      content: "\2190";
      margin-right: 10px;
    }
  }

  &_align-centr {
    display: flex;
    align-items: center;
  }
}




