.card-main {
  padding-bottom: 60px;
}

.turn-back {
  width: 290px;
  padding: 20px 25px;
  text-transform: uppercase;
  color: $white-color;
  background: $lochmara-color;
  box-sizing: border-box;
  font: bold 1.2rem/20px $primary-font;
  margin-top: 30px;

  &:before {
    content: "\2190";
    margin-right: 10px;
  }
}

.card {
  display: flex;
  flex-direction: column-reverse;

  &__img {
    margin-top: 15px;

    @media (min-width: $screen-lg) {
      margin-top: 0;
      margin-right: 20px;
    }
  }

  &__img-top {
    width: 280px;
    height: 280px;
    display: flex;
    position: relative;
    box-shadow: 0 0 5px $silver-color;

    img {
      max-width: 100%;
      margin: auto;
    }

    @media (min-width: $screen-sm) {
      width: 480px;
      height: 480px;
    }
  }

  &__stock {
    font: 0.9rem/20px $primary-font;
    text-transform: uppercase;
    padding: 0 8px;
    position: absolute;
    left: 0;
    bottom: 30px;
    background: #f49639;
    color: $white-color;
  }

  &__wrap-info {
   position: relative;
  }

  &__title {

    font: 2.6rem/46px $primary-font;
    color: $black-color;

    @media (min-width: $screen-sm) {
      font: 3.6rem/46px $primary-font;
    }

  }

  &__category {
    font: bold 1.2rem/20px $primary-font;
    color: $lochmara-color;
    margin-top: 20px;
  }

  &__desc {
    font: bold 1.6rem/24px $primary-font;
    color: $black-color;
    margin-top: 30px;
    text-transform: uppercase;
  }

  &__wrap-bottom {

    @media (min-width:  $screen-lg) {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  &__price {
    font: bold 3.6rem/42px $primary-font;
    color: $black-color;
  }

  &__oldprice {
    font: 1.2rem/20px $primary-font;
    color: #e98522;
    text-decoration: line-through;
    margin-left: 10px;
  }

  &__btn {
    font: 1.6rem/70px $primary-font;
    color: $white-color;
    background: $carnation-color;
    text-transform: uppercase;
    padding: 0 40px;
    margin-top: 90px;
  }

  @media (min-width: $screen-lg) {
    flex-direction: row;
    //justify-content: space-between;
    margin-top: 20px;
  }
}

.thumbnails {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;

  &__wrap {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px $silver-color;
    margin-right: 30px;
  }

  &__img {

  }
}

.wrap-product {
  border-top: 1px solid $silver-color;
  margin-top: 20px;

  &__title {
    margin: 35px 0 22px;
  }

  &__desc {
    font: 1.6rem/24px $primary-font;
    color: $black-color;
  }

  &__item {
    padding-left: 20px;

    &:nth-child(2n) {
      background: $silver-color;
    }
  }
}

.technical {
  &__title {
    margin: 35px 0 22px;
  }
}

.table-product {
  width: 100%;
  border-collapse:collapse;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;

  &__row{
    border-top: 1px solid #e3e3e3;

    &:nth-child(2n) {
      background: #f1f1f1;
    }

    &:last-child {
      border-bottom: 1px solid #e3e3e3;
    }
  }

  &__col {
    font: 1.4rem/25px "Open Sans",sans-serif;
    color: $black-color;
    padding-left: 20px;

    @media(min-width: $screen-md) {
      font: 1.4rem/50px $primary-font;
    }
  }
}

.advantages {
  &__title {
    margin: 35px 0 22px;
  }

  &__item {
    font: 1.6rem/20px $primary-font;
    padding-left: 15px;
    margin-top: 15px;
    color: $black-color;

    &:before {
      content: ">";
      padding-right: 15px;
      font-weight: bold;
      color: $lochmara-color;
    }
  }
}

.completeness {
  &__title {
    margin: 35px 0 22px;
  }

  &__list {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 15px;
  }

  &__item {
    color: $lochmara-color;
    font: 1.6rem/20px $primary-font;
    margin-top: 15px;
  }

  &__inner {
    padding-left: 15px;
    color: $black-color;
  }
}

.additionally {
  &__title {
    margin: 35px 0 22px;
  }

  &__download {
    display: block;
    //font: bold 1.6rem/24px $lochmara-color;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 24px;
    color: $lochmara-color;
    text-decoration: underline;
  }
}
