.catalog-main {
  .container-main {
    padding: 35px 15px;
  }

  &__title {
    font: 3.6rem/24px $primary-font;
    color: $black-color;
  }
}

.breadcrumbs {
  &__item {
    display: inline-block;

    &:after {
      content: '/';
      padding: 0 5px;
    }
  }

  &__link {
    font: 1.2rem/24px $primary-font;
    color: $black-color;
  }
}

.wrap-catalog {
  display: flex;
  justify-content: space-between;
}

.catalog-aside-hide {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 290px;
  background: $white-color;
  z-index: 2;

  &__item {
    border-bottom: 2px solid #e2e2e2;
  }

  &__link {
    font: bold 1.4rem/20px $primary-font;
    color: $lochmara-color;
    padding: 20px 25px;

    &:hover {
      color: $carnation-color;
      text-decoration: underline;
    }
  }

  &__count {
    margin-left: 10px;
    color: #b0b0b0;
    font: 1.2rem/20px $primary-font;
  }
}

.catalog-aside {
  background: #e8f5f9;
  display: none;

  @media (min-width: $screen-md) {
    display: block;

    &__list {
      width: 290px;
    }

    &__item:first-child {
      text-transform: uppercase;

      a {
        color: $white-color;
        background: $lochmara-color;

        &:after, span {
          display: none;
        }

      }
    }

    &__item {
      position: relative;

      &:hover {
        .catalog-aside-hide {
          display: block;
        }
      }
    }

    &__link {
      font: 1.5rem/22px $primary-font;
      color: $emperor-color;
      padding: 20px 25px;
      display: flex;
      justify-content: space-between;

      span {
        color: $lochmara-color;
      }

      &:hover {
        background: $carnation-color;
        color: $white-color;

        span {
          color: $white-color;
        }
      }
    }
  }
}

.wrap-catalog-main {
  @include con-grid(3, 5px, 0px, 0px, 5px);
}

.jaffa {
  background: $jaffa-stock-color;
}
.sushi {
  background: $sushi-stock-color;
}
.medium-purple {
  background: $medium-purple-stock-color;
}