.container-main {
  max-width: 1293px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: .4s;
}