@import "../../node_modules/susy/sass/susy";

$susy: (
        columns: 12,
        gutters: 0,
        math: fluid,
        output: float,
        gutter-position: after,
        container: 100%,
        debag: (
                image: show,
                color: rgba(#66f, .5),
                output: background,
                toggle: top right,
        ),
);

.container-main {
  max-width: 1293px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: .4s;
}