@mixin span($quantity, $cols: 12) {
  width: calc((100% / #{$cols}) * #{$quantity} - (#{$base-gutters} * 2));
  margin-right: $base-gutters;
  margin-left: $base-gutters;
}

.row {
  margin-left: -$base-gutters;
  margin-right: -$base-gutters;
  display: flex;
  flex-wrap: wrap;
}
