html {
  font-size: 10px;
}

.header-top {
  background: #f1f1f1;

  .container-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
}

.menu-icon {
  display: block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;

  &__line {
    width: 25px;
    height: 3px;
    background: $black-color;
    margin: 3px 0;
  }

  @media (min-width: $screen-md) {
    display: none;
  }
}

.menu-header {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, .8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  padding: 25px;

  &__link {
    color: $white-color;
    font: 1.2rem/36px $primary-font;
    text-transform: uppercase;

    &:hover {
      color: $lochmara-color;
    }
  }

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: none;
    position: static;
    padding: 0;

    &__item {
      border-left: 1px solid #e1e1e1;

      display: flex;
      align-items: center;
    }

    &__item:last-child {
      border-right: 1px solid #e1e1e1;
    }

    &__link {
      color: $emperor-color;
      font: 1.2rem/36px $primary-font;
      text-transform: uppercase;
      padding: 0 25px;
    }
  }
}

.menu-header-close {
  display: none;
  width: 15px;
  height: 15px;
  position: fixed;
  top: 10px;
  right: 10px;
  border: 1px solid $white-color;
  border-radius: 10px;
  text-align: center;
  z-index: 3;

  &:after {
    content: 'x';
    color: $white-color;
    font: 1.2rem/1.2 $primary-font;
  }
}

.form-search {
  display: flex;
  align-items: center;
  margin: 10px auto 0;
  position: relative;

  &__header {
    width: 190px;
    padding: 0 10px 0 35px;
    border-radius: 50px;
    border: 1px solid transparent;
    font: 1.2rem/29px $primary-font;
    box-sizing: border-box;

    &:focus {
      border: 1px solid #49b2e2;
      outline: none;
    }
  }

  @media (min-width: 544px) {
    margin-top: 0;
  }
}

.form-search__button {
  position: absolute;
  left: 10px;
  background: none;
  padding: 0;
  border: none;
}

.wrap-signin-basket {
  margin: 15px auto 0;
  text-align: center;
  display: flex;

  @media (min-width: 544px) {
    margin: 0 auto;
  }

  @media (min-width: 1262px) {
    margin-top: 0;
  }
}

.header-bottom {
  display: none;

  .container-main {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $screen-md) {
    display: block;
  }
}

.logo {
  margin: auto;
}

.address {
  max-width: 293px;
  margin: auto;

  &__item:not(:first-child) {
    margin-top: 10px;
  }

  &__link {
    font: 1.4rem $primary-font;
    color: $cod-gray-color;
  }

  &__item:last-child {
    a {
      color: $lochmara-color;
      text-decoration: underline;
    }
  }
}

.phone {
  max-width: 293px;
  font: 1.4rem $primary-font;
  color: $cod-gray-color;
  margin: auto;

  &__item:not(:first-child) {
    margin-top: 10px;
  }

  &__link {
    color: $cod-gray-color;
  }

  &__desc {
    color: $dusty-gray-color;
    margin-left: 5px;
  }
}

.hire {
  max-width: 293px;
  font: 1.4rem $primary-font;
  color: $cod-gray-color;
  margin: auto;

  &__item:not(:first-child) {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  &__link {
    color: $lochmara-color;
    max-width: 165px;
    font: bold 1.2rem $primary-font;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;

    img {
      padding-right: 9px;
    }
  }
}

.icon-login {
  color: $lochmara-color;
  margin-right: 10px;
}

.icon-basket {
  margin-right: 10px;
}

.counter-in-basket {
  margin-left: 10px;
}

.cont-in-basket {
  display: none;

  @media (min-width: $screen-sm) {
    display: block;
  }
}