@import "../../node_modules/susy/sass/susy";

.primary-main {
  .container-main {
    padding: 28px 15px 44px;
  }
}

$susy: (
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: after,
        container: 100%,
        debag: (
                image: show,
                color: rgba(#66f, .5),
                output: background,
                toggle: top right,
        ),
);

.container {
  @include container();

  &:nth-child(2) {
    border-top: 1px solid #e3e3e3;
  }
}

.masthead {
  text-align: center;
  font: 1.4rem $primary-font;
  text-transform: uppercase;
  color: $emperor-color;
}

@mixin assortment__item($col) {
  @include span($col);
  margin: 50px 0 20px 0;

  @media (min-width: $screen-sm) {
    @include span($col/2);
    margin: 50px 0 20px 0;
  }

  @media (min-width: $screen-lg) {
    @include span($col/4);
    margin: 50px 0 20px 0;
  }

}

.assortment__item {
  @include assortment__item(12);
}

.catalog {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  &__title {
    font: bold 1.8rem $primary-font;
    color: $lochmara-color;
    transition: .4s;

    &:hover {
      color: $cinnabar;
    }
  }

  &__list {
    margin-top: 35px;
  }

  &__item:not(:first-child) {
    margin-top: 15px;
  }

  &__item:nth-child(6) {
    a {
      margin-top: 25px;
      font: bold 1.2rem $primary-font;
      color: $lochmara-color;
      border-bottom: 1px dashed $lochmara-color;
    }
  }

  &__link {
    font: 1.6rem $primary-font;
    color: $cod-gray-color;

    &:hover {
      color: $lochmara-color;
      text-decoration: underline;
    }
  }

}

.catalog__list__wrap {
  max-width: 180px;
}

.btn {
  text-align: center;

  &__catalog {
    padding: 25px 60px;
    margin: 40px auto 0;
    background: $lochmara-color;
    text-transform: uppercase;
    color: $white-color;
    font: 1.6rem $primary-font;
  }

  &__desc {
    font: 1.4rem $primary-font;
    color: $dusty-gray-color;
    margin-top: 20px;
  }
}

.test-js {
  display: none;
}

.offer {
  text-align: center;
  background: $concrete;

  &__wrapper {
    padding: 0 25px;
  }

  &__img {
    max-width: 276px;
    height: 211px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    img {
      max-width: 100%;
    }
  }

  &__masthead {
    font: 3.6rem/44px $primary-font;
    color: $black-color;
  }

  &__category {
    font: 1.2rem/20px $primary-font;
    color: $dusty-gray-color;
  }

  &__title {
    font: bold 1.8rem/24px $primary-font;
    color: $lochmara-color;
    margin-top: 17px;
  }

  &__desc {
    font: 1.6rem/22px $primary-font;
    color: $black-color;
    margin-top: 22px;
  }

  &__oldprice {
    font: 1.2rem/20px $primary-font;
    color: #e98522;
    text-decoration: line-through;
    margin-left: 10px;
  }

  &__price {
    font: 1.8rem/20px $primary-font;
    color: $black-color;
  }

  &__hits {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  &__link {
    font: 1.4rem/22px $primary-font;
    color: $lochmara-color;
    text-decoration: underline;
  }

  &__btn {
    font: 1.2rem/20px $primary-font;
    color: $white-color;
    background: $carnation-color;
    text-transform: uppercase;
    width: 100px;
    padding: 14px 0;
    border-radius: 3px;
    margin-top: 35px;
  }

  &__hits__item {
    @include assortment__item(12);
    background: $white-color;
    box-sizing: border-box;
    height: 583px;
    padding: 10px;
    position: relative;
  }

  &__wrap-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
