//colors
$emperor-color: #4f4f4f;
$white-color: #fff;
$carnation-color: #f46464;
$cod-gray-color: #1e1e1e;
$lochmara-color: #0889cc;
$dusty-gray-color: #9b9a9a;
$black-color: #010101;
$cinnabar: #e94242;
$concrete: #f3f3f3;
$silver-color: #ccc;
//fonts
$primary-font: 'Open Sans', sans-serif;

//@media

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg: 1200px;
