//colors
$emperor-color: #4f4f4f;
$white-color: #fff;
$carnation-color: #f46464;
$Cod-Gray-color: #1e1e1e;
$Lochmara-color: #0889cc;
$Dusty-Gray: #9b9a9a;

//fonts
$primary-font: 'Open Sans', sans-serif;

//@media

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg: 1200px;
