//colors
$emperor-color: #4f4f4f;
$white-color: #fff;
$carnation-color: #f46464;

//fonts
$primary-font: 'Open Sans', sans-serif;

//@media

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg: 1200px;
