- var menuHeader = [{link1:"О компании"},{link1:"Услуги"},{link1:"Лицензии"},{link1:"Доставка"},{link1:"Контакты"},{link1:"Прокат"},]
- var address = [{link1:"Россия, 440018, г. Пенза, ул. Средняя, 9"},{link1:"пн-пт 8:30- 8:00, сб 8:30-16:00, вс выходной"},{link1:"Как до нас добраться"}]
- var phone = [{link1:"tel:+78412680211",link2:"+7 (8412) 68-02-11, 68-43-70",link3:"Магазин"},{link1:"tel:+78412683862",link2:"+7 (8412) 68-38-62",link3:"Отдел заказов"},{link1:"tel:+78412680211",link2:"+7 (8412) 68-02-11",link3:"Ремонт и обслуживание"}]
- var catalog1 = [{link1:"Складные массажные столы"},{link1:"Аксессуары для массажа"},{link1:"Стационарные массажные столы"}]
- var catalog2 = [{link1:"Мать и дитя"},{link1:"Тонометры"},{link1:"Ингаляторы"},{link1:"Коляски инвалидные"},{link1:"Физиотерапевтические аппараты"}]
- var catalog3 = [{link1:"Аппараты прессотерапии и лимфодренажа"},{link1:"Массаж"},{link1:"Разное"},{link1:"Фитнес"},{link1:"Тренажеры"}]
- var catalog4 = [{link1:"Стулья и табуреты"},{link1:"Шкафы медицинские"},{link1:"Ширмы"},{link1:"Кушетки, банкетки"},{link1:"Штативы"}]
- var hideList1 = [{link1:"Ортопедические изделия"},{link1:"Сушилки для обуви, ледоходы(2)"},{link1:"Одеяла, Подушки, Матрасы(6)"},{link1:"Стельки(1)"},{link1:"Бандажи, Корсеты, Воротники"},{link1:"Чулки(42)"},{link1:"Тонометры(18)"},{link1:"Автоматические (4)"},{link1:"Полуавтоматические (2)"},{link1:"Механические (3)"},{link1:"На запястье (1)"},{link1:"Аксессуары для тонометров (8)"},{link1:"Глюкометры(2)"},{link1:"Тест-полоски (1)"},{link1:"Ланцеты (0)"},{link1:"Глюкометры (1)"},{link1:"Предметы по уходу за"},{link1:"больными(20)"},{link1:"Средства реабилитации(12)"},{link1:"Аптечки"}]
- var hideList2 = [{link1:"Кровати и принадлежности к ним"},{link1:"Стеллажи(1)"},{link1:"Одеяла, Подушки, Матрасы(6)"},{link1:"Стельки(1)"},{link1:"Бандажи, Корсеты, Воротники"}]


- var some = [{link1:""}];

