include ../bemto-master/bemto
include _var

  include _head
  include _header
  include _main

  footer

  script(src='scripts/libs.min.js')
  script(src='scripts/mobile-menu.min.js')
  script(src='scripts/swiper-slider.min.js')
