mixin assortment(item)
  +b.catalog
    +e.img
      img(src= item.assortImg, alt='')
    +b.list-wrap.js-list-wrap
      +e.A.title(href='#')= item.assortTitle
      +e.UL
        each link in item.item1
          +e.LI.item
            +e.A.link(href='#')= link
      - var current = item.item1.length
      - if (item.item1.length > 6)
        +e.more.js-more Показать еще #{current - 6} категорий

mixin item(item)
  +b.item
    +e.wrap
      +e.img
        img(src= item.img, alt='')
        +e.stock(class= item.colorStock)= item.stock
      +e.A.category(href="#")= item.category
      +e.A.title(href="card.html")= item.title
      +e.desc= item.desc
      +e.wrap-bottom
        +e.price= item.price
          +e.SPAN.oldprice= item.oldPrice
        button.btn.btn_size-small.btn_loc.btn_red(href="#") купить »

mixin basePage(page)
  doctype html
  html(lang='en')
    include ../meta/_head
    body
      include ../../images/sprite.svg
      include ../blocks/_header
      main
        if block
          block
      include ../blocks/_footer


  include ../meta/_scripts

mixin svg-icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="images/sprite.svg#" + name)

mixin order-row (item)
  +e.row
    +e.cell._desc._number 1
    +e.cell._desc._name(href ='#')
      +e.img
        img(src = "images/inb.png")
      +e.img-desc Автоматический тонометр для людей с пониженным зрением B.Well WA-77 «Talking»
    +e.cell._desc._count
      +b.wrap-count
        +e.center._mines -
        +e.center._number 2
        +e.center._plus +
    +e.cell._desc._price
      +e.price 4 000 Р
      +e.count 2 000 х 2
    +e.cell._desc._delete
      +e.delete(href ='#') x

mixin input (type, label, star, desc)
  +b.LABEL.label= label
    +e.SPAN.desc= desc
    +e.SPAN.star= star
    +e.INPUT.input(type= type)

