-
  var address = [
    {
      location:"Россия, 440018, г. Пенза, ул. Средняя, 9",
      timeWork:"пн-пт 8:30- 8:00, сб 8:30-16:00, вс выходной",
      howLocation:"Как до нас добраться",
      timeWorkFoot: "пн-пт 8:30- 18:00",
      output: "сб 8:30-16:00, вс — выходной"
    }
  ]
-
  var phone = [
    {
      phoneAttr:"tel:+78412680211",
      phone:"+7 (8412) 68-02-11, 68-43-70",
      desc:"Магазин"
    },
    {
      phoneAttr:"tel:+78412683862",
      phone:"+7 (8412) 68-38-62",
      desc:"Отдел заказов"
    },
    {
      phoneAttr:"tel:+78412680211",
      phone:"+7 (8412) 68-02-11",
      desc:"Ремонт и обслуживание"
    }
  ]

-
  var assortmentItem = [
    {
      assortImg:"images/img1.png",
      assortTitle: "Массажные столы Vernam",
      item1: [
        "Складные массажные столы",
        "Аксессуары для массажа",
        "Стационарные массажные столы"
        ]
    },
    {
      assortImg:"images/img2.png",
      assortTitle: "Товары для дома",
      item1: [
        "Мать и дитя",
        "Тонометры","Ингаляторы",
        "Коляски инвалидные",
        "Физиотерапевтические аппараты",
        "Ортопедические изделия",
        "Сушилки для обуви, ледоходы(2)",
        "Одеяла, Подушки, Матрасы(6)",
        "Стельки(1)",
        "Бандажи, Корсеты, Воротники",
        "Чулки(42)",
        "Тонометры(18)",
        "Автоматические (4)",
        "Полуавтоматические (2)",
        "Механические (3)",
        "На запястье (1)",
        "Аксессуары для тонометров (8)",
        "Глюкометры(2)",
        "Тест-полоски (1)",
        "Ланцеты (0)",
        "Глюкометры (1)",
        "Предметы по уходу за",
        "больными(20)",
        "Средства реабилитации(12)",
        "Аптечки"
        ]
    },
    {
      assortImg:"images/img4.png",
      assortTitle: "Для здоровья и красоты",
      item1: [
        "Массаж",
        "Разное",
        "Ширмы",
        "Фитнес",
        "Тренажеры"
        ]
    },
    {
      assortImg:"images/img3.png",
      assortTitle: "Мебель медицинская",
      item1: [
        "Стулья и табуреты",
        "Шкафы медицинские",
        "Ширмы",
        "Кушетки, банкетки",
        "Штативы",
        "Кровати и принадлежности к ним",
        "Стеллажи(1)",
        "Одеяла, Подушки, Матрасы(6)",
        "Стельки(1)",
        "Бандажи, Корсеты, Воротники"
        ]
    },
    {
      assortImg:"images/img1.png",
      assortTitle: "Массажные столы Vernam",
      item1: [
        "Складные массажные столы",
        "Аксессуары для массажа",
        "Стационарные массажные столы"
        ]
    },
    {
      assortImg:"images/img2.png",
      assortTitle: "Товары для дома",
      item1: [
        "Мать и дитя",
        "Тонометры",
        "Ингаляторы",
        "Коляски инвалидные",
        "Физиотерапевтические аппараты",
        "Ортопедические изделия",
        "Сушилки для обуви, ледоходы(2)",
        "Одеяла, Подушки, Матрасы(6)",
        "Стельки(1)",
        "Бандажи, Корсеты, Воротники",
        "Чулки(42)",
        "Тонометры(18)",
        "Автоматические (4)",
        "Полуавтоматические (2)",
        "Механические (3)",
        "На запястье (1)",
        "Аксессуары для тонометров (8)",
        "Глюкометры(2)",
        "Тест-полоски (1)",
        "Ланцеты (0)",
        "Глюкометры (1)",
        "Предметы по уходу за",
        "больными(20)",
        "Средства реабилитации(12)",
        "Аптечки"
        ]
    },
    {
      assortImg:"images/img4.png",
      assortTitle: "Для здоровья и красоты",
      item1: [
        "Массаж",
        "Разное",
        "Ширмы",
        "Фитнес",
        "Тренажеры"
        ]
    },
    {
      assortImg:"images/img3.png",
      assortTitle: "Мебель медицинская",
      item1: [
        "Стулья и табуреты",
        "Шкафы медицинские",
        "Ширмы",
        "Кушетки, банкетки",
        "Штативы",
        "Кровати и принадлежности к ним",
        "Стеллажи(1)",
        "Одеяла, Подушки, Матрасы(6)",
        "Стельки(1)",
        "Бандажи, Корсеты, Воротники"
        ]
    }
  ]
-
  var hits = [
    {
      img:"images/i1.png",
      stock: "лучшая цена",
      colorStock:"jaffa",
      category: "Физиотерапевтические аппараты",
      title: "Электроды для дарсонвализации",
      desc: "Для аппаратов «Корона», «Карат», «Ультратек»",
      price:"1 500 Р",
      oldPrice:"",
      thumbnails1:"images/thub1.png",
      thumbnails2:"images/thub2.png"
    },
    {
      img:"images/i2.png",
      stock: "новинка",
      colorStock: "sushi",
      category: "Тонометры Автоматические",
      title: "Тонометр автоматический с функцией диагностики аритмии Microlife BP A100",
      desc: "Для пенсионеров скидки!!!",
      price:"3 870 Р",
      oldPrice:"3 870 Р"
    },
    {
      img:"images/i3.png",
      stock: "хит продаж",
      colorStock: "medium-purple",
      category: "Физиотерапевтические аппараты",
      title: "Концентратор кислородный 7F-1L",
      desc: "Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей",
      price:"1 500 Р",
      oldPrice:""
    },
    {
      img:"images/i2.png",
      stock: "лучшая цена",
      colorStock:"jaffa",
      category: "Тонометры Автоматические",
      title: "Тонометр автоматический с функцией диагностики аритмии Microlife BP A100",
      desc: "ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!",
      price:"цена не указана",
      oldPrice:""
    }
  ]
-
  var CatalogList = [
    {
      itemCatalog:["каталог"],
      itemCatalogHide: ""
    },
    {
      itemCatalog:["Массажные столы Vernam"],
      itemCatalogHide: ["Микроскопы","Холодильники","Термометры, Ареометры, Измерители"]
    },
    {
      itemCatalog:["Товары для дома"],
      itemCatalogHide: ["1","2","3"]
    },
    {
      itemCatalog:["Для здоровья и красоты"],
      itemCatalogHide: ["Микроскопы","Холодильники","Термометры, Ареометры, Измерители"]
    },
    {
      itemCatalog:["Мебель медицинская"],
      itemCatalogHide: ["1","2","3"]
    },
    {
      itemCatalog:["Изделия медицинского назначения"],
      itemCatalogHide: ["Микроскопы","Холодильники","Термометры, Ареометры, Измерители"]
    },
    {
      itemCatalog:["Стерилизация, дезинфекция"],
      itemCatalogHide: ["1","2","3"]
    },
    {
      itemCatalog:["Урология, гинекология"],
      itemCatalogHide: ["Микроскопы","Холодильники","Термометры, Ареометры, Измерители"]
    },
    {
      itemCatalog:["Хирургия, Офтальмология"],
      itemCatalogHide: ["1","2","3"]
    },
    {
      itemCatalog:["ЛОР-оборудование и инструменты"],
      itemCatalogHide: ["Микроскопы","Холодильники","Термометры, Ареометры, Измерители"]
    },
    {
      itemCatalog:["Стоматология"],
      itemCatalogHide: ["1","2","3"]
    },
    {
      itemCatalog:["Диагностика"],
      itemCatalogHide: ["Микроскопы","Холодильники","Термометры, Ареометры, Измерители"]
    },
    {
      itemCatalog:["Медицинское оборудование и инструменты"],
      itemCatalogHide: ["1","2","3"]
    },
    {
      itemCatalog:["Лабораторное оборудование и инструменты"],
      itemCatalogHide: ["Микроскопы","Холодильники","Термометры, Ареометры, Измерители", "Часы песочные","Гигрометры, Барометры", "Алкометры и принадлежности", "Тест-полоски", "Стекла", "Микроскопы", "Лабораторная посуда и принадлежности"]
    },
    {
      itemCatalog:["Травматология, Рентгеновское оборудование"],
      itemCatalogHide: ["1","2","3"]
    },
    {
      itemCatalog:["Утилизация"],
      itemCatalogHide: ["Микроскопы","Холодильники","Термометры, Ареометры, Измерители"]
    },
    {
      itemCatalog:["Косметология и дерматология"],
      itemCatalogHide: ["1","2","3"]
    }
  ]
-
  var tech = [
    {
      desc: "Увеличение микроскопа, крат 40",
      prop: "1600 (20 - 2000* - опция)"
    },
    {
      desc: "Визуальная насадка",
      prop: "монокулярная"
    },
    {
      desc: "Угол наклона визуальной насадки, град",
      prop: "45"
    },
    {
      desc: "Увеличение насадки",
      prop: "1"
    },
    {
      desc: "Окуляры",
      prop: "10/18; 16/15; (5/18*; 12,5/15*; 20/11* - опция)"
    },
    {
      desc: "Револьверное устройство",
      prop: "на 4 объектива"
    },
    {
      desc: "Тип коррекции объективов",
      prop: "ахроматы, рассчитаны на длину тубуса 160, парфокальная высота 33 мм"
    },
    {
      desc: "Объективы",
      prop: "4x/0,1; 10x/0,25; 40x/0,65; 100x/1,25 ми"
    },
    {
      desc: "Предметный столик, мм",
      prop: "110х120"
    },
    {
      desc: "Диапазон перемещения препарата, мм",
      prop: "60х30"
    }
  ]

-
  var advantages = [
    "Абсолютно безопасные для использования в присутствии людей",
    "Обладают обеззараживающим, очищающим и дезодорирующим эффектом",
    "Обеспечивают постоянное поддержание асептических условий помещения",
    "Используются специальные сменные безозоновые бактерицидные лампы фирм Philips и Lighttech",
    "Контроль работы бактерицидных ламп осуществляется световыми индикаторами",
    "Ресурс непрерывной работы бактерицидных ламп - 9000 часов",
    "Цифровой четырехразрядный счетчик часов фиксирует отработанное время у/ф ламп"
    ]

  var completeness = [
    "Штатив (со встроенным в основание осветителем  с лампой 220В, 20Вт или галогенной лампой и источником питания) - 1",
    "Револьвер на 4 позиции объективов - 1 - установлен на штативе",
    "Насадка монокулярная поворотная на 360º с наклоном на 45º - 1",
    "Конденсор Аббе центрируемый светлого поля А 1,25 - 1 - установлен на штативе",
    "Столик прямоугольный (110х120мм) координатный (60х30мм) - 1 - установлен на штативе",
    "Объектив-ахромат 4х/0,1    160/0,17 - 1",
    "Объектив-ахромат 10х/0,25   160/0,17 - 1"
    ]