include bemto-master/bemto.pug
include _var

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='styles/normalize.css')
    link(rel='stylesheet', href='styles/all.css')
  body
    header
      
    main
      
    footer
          

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    
