include bemto-master/bemto.pug
include _var

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Medical
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    link(rel='stylesheet', href='styles/normalize.css')
    link(rel='stylesheet', href='styles/all.min.css')
  body
    header.main-header
      .header-top
        .container-main
          ul.menu-header
            li.menu-header__item
              a.menu-header__link(href='') О компании
            li.menu-header__item
              a.menu-header__link(href='') Услуги
            li.menu-header__item
              a.menu-header__link(href='') Лицензии
            li.menu-header__item
              a.menu-header__link(href='') Доставка
            li.menu-header__item
              a.menu-header__link(href='') Контакты
            li.menu-header__item
              a.menu-header__link(href='') Прокат
          form.form.form-search(action='', method='post')
            input.form-search__header(type='text', placeholder='Поиск по сайту')
          .wrap-signin-basket
            a.signin(href='') Вход
            a.basket(href='') Моя корзина
              span.basket__counter 0
      .header-bottom
        .container-main
          a.logo(href='')
            img(src='images/logo.png', alt='')
          ul.address
            li.address__item Россия, 440018, г. Пенза, ул. Средняя, 9
            li.address__item пн-пт 8:30- 8:00, сб 8:30-16:00, вс выходной
            li.address__item
              a.address__link(href='') Как до нас добраться
          ul.phone
            li.phone__item
              a.phone__link(href='tel:+78412680211') +7 (8412) 68-02-11, 68-43-70
                span.phone__desc Магазин
            li.phone__item
              a.phone__link(href='tel:+78412683862') +7 (8412) 68-38-62
                span.phone__desc Отдел заказов
            li.phone__item
              a.phone__link(href='tel:+78412680211') +7 (8412) 68-02-11
                span.phone__desc Ремонт и обслуживание
          ul.hire
            li.hire__item Мы осуществляем прокат изделий:
            li.hire__item
              a.hire__link(href='') Весы для новорожденных (...)
              a.hire__link.hire__btn(href='') в прокат »

    main
    footer

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

